################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestingSuite/TestingSuite/.vs
/TestingSuite/TestingSuite/Calculator/obj/Debug/net8.0
